*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    text-align: center;
    font-family: 华文行楷;
    font-size: 66px;
    background-color: rgb(37 , 159 , 200);
    color: white;
    line-height: 106px;
    height: 96px;
}
.header>img{
    float: left;
}
.header>p{
    position: relative;
    left:-140px;
}
.leftBar{
    margin-top: 10px;
    padding: 5px 10px;
    border-right: 1px solid rgb(37 , 159 , 200);
    width: 200px;
    float: left;
    margin-left: -100%;
}
.leftBar>.block{
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    font-family: "微软雅黑 Light";
    font-weight: bold;
    font-size: 15px;

    transition: font-size .5s;
    -moz-transition: font-size .5s;	/* Firefox 4 */
    -webkit-transition: font-size .5s;	/* Safari 和 Chrome */
    -o-transition: font-size .5s;	/* Opera */
}
a:link{  color: black;  }
a:visited{  color: black;  }
a:hover{  color: rgb(37 , 159 , 200);  }
a:active{  color: gray;  }

.leftBar>.block:hover{
    cursor: pointer;
    border:1px solid rgb(37 , 159 , 200);
    font-size: 17px;
}
.content{
    
    float: left;
    width: 100%;
}
.main-content{
    padding: 10px;
    margin-left: 221px; 
}